@font-face {
    font-family: "Pretendard";
    src: url("../assets/fonts/Pretendard.ttf") format("truetype");
}

input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 13px;
    width: 700px;
    height: 50px;
    box-sizing: border-box;
}

.postTitle {
    align-items: center;
    justify-self: center;
    margin-top: 0;
}

.inputContainer {
    padding: 234px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.inputWithIcon {
    position: relative;
    display: flex;
    align-items: center;
}

.rightPostInputGroup {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

/* InputWrapper */
.label {
    width: auto;
    flex-shrink: 0;
    color: var(--GRAY-00, #555);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.72px;
    margin-bottom: 10px;
}

.defaultInput {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;
    color: var(--GRAY-02, #BABABA);
    font-family: Pretendard;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.6px;
}


.inputIcon {
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
}

.dateInputCustom {
    padding-right: 2.5rem;
    box-sizing: border-box;
    color: var(--GRAY-02, #808080);
    font-family: Pretendard;
    font-style: normal;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: 0.6px;
}

/* PostImageInput */
/* 전체 */
.imageInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

/* 업로드 */
.uploadBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--GRAY-01, #747474);
}

/* + & 사진 업로드 */
.uploadLabel,
.uploadText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* 사진 업로드 */
.uploadText {
    color: #555;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

/* 사진 찍기 텍스트트 */
.cameraText {
    color: var(--GRAY-02, #BABABA);
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
}

/* PostMemoInput */
.memoInput {
    height: 190px;

}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='-9 0 37 27' fill='none'><path d='M5.86035 7.24935C5.86035 7.61767 6.00667 7.97091 6.26711 8.23135C6.52755 8.49179 6.88079 8.6381 7.24911 8.6381C7.61743 8.6381 7.97066 8.49179 8.2311 8.23135C8.49155 7.97091 8.63786 7.61767 8.63786 7.24935C8.63786 6.88103 8.49155 6.52779 8.2311 6.26735C7.97066 6.00691 7.61743 5.8606 7.24911 5.8606C6.88079 5.8606 6.52755 6.00691 6.26711 6.26735C6.00667 6.52779 5.86035 6.88103 5.86035 7.24935Z' stroke='%23939393' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M1 5.16626V12.3489C1.00016 13.0855 1.29289 13.7918 1.81381 14.3126L12.5211 25.0199C13.1488 25.6474 14 26 14.8875 26C15.7751 26 16.6263 25.6474 17.254 25.0199L25.0199 17.254C25.6474 16.6263 26 15.7751 26 14.8875C26 14 25.6474 13.1488 25.0199 12.5211L14.3126 1.81381C13.7918 1.29289 13.0855 1.00016 12.3489 1H5.16626C4.0613 1 3.0016 1.43894 2.22027 2.22027C1.43894 3.0016 1 4.0613 1 5.16626Z' stroke='%23939393' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat right 0.75rem center/1.5rem auto;
    padding-right: 2.5rem;
    color: var(--GRAY-02, #808080);
    font-family: Pretendard;
    font-style: normal;
    letter-spacing: 0.6px;
}

/* IE에서 기본 화살표 숨기기 */
.select::-ms-expand {
    display: none;
}

/* 업로드 버튼 */
.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: var(--BLACK-00, #000);

    color: aliceblue;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.6px;
}