.container {
  width: 100%;
  height: auto;
  font-family: "Pretendard";
  position: relative;
  overflow: hidden; /* over-flow → overflow 오타 수정 */
}

.content {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden; /* over-flow → overflow 오타 수정 */
  overflow-x: auto; /* 반드시 필요 */
  scroll-behavior: smooth;
}

.photo {
  width: 170px;
  height: 583px;
  object-fit: cover;
  margin-right: 65px;
}

.right {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 20px;
}

.nextButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  left: 80%;
  top: 47%;
  min-width: 140px;
  position: fixed;
  z-index: 99;
}

.buttonSubtitle {
  color: #bababa;
  text-align: center;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 500;
  white-space: pre-line;
  margin-top: 24px;
  line-height: 1.5;
}
