@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/HelveticaNeueLight.otf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.wepickLogoSubtitle {
  display: flex;
  margin-top: 60px;
  margin-left: 60px;
  cursor: pointer;
}

.wepickLogo {
  cursor: pointer;
  width: 54px;
  height: 61px;
  aspect-ratio: 61/68;
}

.wepickSubtitle {
  transform: translateX(-70px);
  margin: 0 auto;
  color: #000;
  margin-top: 20px;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 700;
}

.imageStack {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stackImgWrapper {
  position: absolute;
}

.stackImg {
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 1;
  /* transition은 wrapper에만 */
}

/* 이미지별 크기 */
.img0 { width: 159px; height: 108px; }
.img1 { width: 159px; height: 108px; }
.img2 { width: 158px; height: 160px; }
.img3 { width: 159px; height: 107px; }
.img4 { width: 188px; height: 161px; }
.img5 { width: 189px; height: 161px; }
.img6 { width: 159px; height: 193px; }
.img7 { width: 248px; height: 153px; }

@keyframes gentleWaveY {
  0%   { transform: translateY(0px); }
  20%  { transform: translateY(-3px); }
  50%  { transform: translateY(3px); }
  80%  { transform: translateY(-2px); }
  100% { transform: translateY(0px); }
}

.wiggle {
  animation: gentleWaveY 3.2s infinite ease-in-out;
}

/* 플러스 버튼 스타일 */
.btnPlusBox {
  margin-left: 1295px;
  margin-top: -80px;
  position: relative;
  z-index: 20;
}

.btnPlus {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06);
  z-index: 20;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.rotated {
  transform: rotate(-45deg);
}
