@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/HelveticaNeueLight.otf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.wepickLogoSubtitle {
  display: flex;
  margin-top: 60px;
  margin-left: 60px;
  cursor: pointer;
}

.wepickLogo {
  cursor: pointer;
  width: 54px;
  height: 61px;
  aspect-ratio: 61/68;
}

.wepickSubtitle {
  transform: translateX(-70px);
  margin: 0 auto;
  color: #000;
  margin-top: 20px;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 700;
}

.imageStack {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stackImg {
  position: absolute;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.8s ease, opacity 0.5s;
  cursor: pointer;
}

.stacked {
  z-index: 10;
  opacity: 1;
}

.img0 {
  width: 159px;
  height: 108px;
}
.img1 {
  width: 159px;
  height: 108px;
}
.img2 {
  width: 158px;
  height: 160px;
}
.img3 {
  width: 159px;
  height: 107px;
}
.img4 {
  width: 188px;
  height: 161px;
}
.img5 {
  width: 189px;
  height: 161px;
}
.img6 {
  width: 159px;
  height: 193px;
}
.img7 {
  width: 248px;
  height: 153px;
}

.spread0 {
  transform: translate(-264px, -170px);
}
.spread1 {
  transform: translate(-55px, -101px);
}
.spread2 {
  transform: translate(124px, -150px);
}
.spread3 {
  transform: translate(-235px, -50px);
}
.spread4 {
  transform: translate(50px, 46px);
}
.spread5 {
  transform: translate(-369px, 102px);
}
.spread6 {
  transform: translate(-171px, 196px);
}
.spread7 {
  transform: translate(293px, 150px);
}

.btnPlusBox {
  margin-left: 1295px;
  margin-top: -80px;
  z-index: 10;
}

.btnPlus {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.5s ease;
}

/* 회전 애니메이션 */
.rotated {
  transform: rotate(-45deg);
}

.btnPlus {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06);
  z-index: 20;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnX {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.btnPlusBox {
  margin-left: 1295px;
  margin-top: -80px;
  position: relative;
  z-index: 20;
}
